*.DS_Store

*.pdf
*.png
*.pptx
*.xlsx
*.h5
*.hdf5
*.csv
*.nii
*.nii.gz

result/
data/
sampleCode/
document/*
.ipynb_checkpoints/
__pycache__/


!document/MSSEG2016.md
!document/Yuxi_MS_lesion_segmentation_presentation.pdf
!document/Yuxi_MS_lesion_segmentation_report.pdf
